.root {
  position: relative;

  @media (max-width: 720px) {
    display: none;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.clear {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 25px 15px 45px;
  border-radius: 50px;
  width: 300px;
  font-size: 15px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
